
/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Importing component files */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/logo.css");
@import url("components/card.css");
@import url("components/cards.css");
@import url("components/popin.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Poppins' ;
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Poppins'; 
  font-weight: bold;
}

a {
 	text-decoration: none;
	color:white;
  	font-weight: lighter;
  	font-size:20px ;
  	transition: background 0.5s ease ; 
}

a:hover{
	color: white;
}	

